<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>unity3d webgl demo</title>
    <script src="TemplateData/UnityProgress.js"></script>
    <script src="Build/UnityLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "Build/Web.json", {
            onProgress: UnityProgress,
            doNotCaptureKeyboard: true
        });
    </script>
</head>

<body>
    <div class="webgl-content">
        <div id="gameContainer" style="width: 960px; height: 600px"></div>
    </div>

    <div id='app'>
        <p>我被点击了&nbsp<b>{{count}}</b>&nbsp次
        </p>
        <ul>
            <u3d-input-li v-for="(value, name) of trans" v-bind:name="name" v-bind:value="value"
                v-on:send-message="u3dMessage">
            </u3d-input-li>
        </ul>
    </div>

    <script type="text/javascript">
        Vue.component('u3d-input-li', {
            props: ['name', 'value'],
            template: `
            <li>
                {{name}}&nbsp;
                <input
                    v-bind:value="value"
                    v-on:input="$emit('send-message',$event.target.value,name)"
                >
            </li>
            `
        })

        var vm = new Vue({
            el: "#app",
            data: {
                trans: {
                    position_x: 1,
                    position_y: 1,
                    position_z: 1,
                    rotation_x: 1,
                    rotation_y: 1,
                    rotation_z: 1,
                    scale_x: 1,
                    scale_y: 1,
                    scale_z: 1,
                },
                count: 0
            },
            methods: {
                u3dMessage: function (value, type) {
                    this.trans[type] = value
                    switch (type) {
                        case 'position_x':
                        case 'position_y':
                        case 'position_z':
                            gameInstance.SendMessage('Cube1', 'changePosition', JSON.stringify({
                                x: this.trans.position_x,
                                y: this.trans.position_y,
                                z: this.trans.position_z
                            }))
                            break
                        case 'rotation_x':
                        case 'rotation_y':
                        case 'rotation_z':
                            gameInstance.SendMessage('Cube1', 'changeRotation', JSON.stringify({
                                x: this.trans.rotation_x,
                                y: this.trans.rotation_y,
                                z: this.trans.rotation_z
                            }))
                            break
                        case 'scale_x':
                        case 'scale_y':
                        case 'scale_z':
                            gameInstance.SendMessage('Cube1', 'changeScale', JSON.stringify({
                                x: this.trans.scale_x,
                                y: this.trans.scale_y,
                                z: this.trans.scale_z
                            }))
                            break
                        default:
                            break;
                    }
                }
            },
        })
    </script>

</body>

</html>
